:import('../../css/variables.css') {
	light_gray: light_gray;
	medium_gray:medium_gray;
}

.row {
	position:relative;
	width:100%;
	min-height:100%;
}
.gray {
	composes: row;
	background-color: light_gray;
}
.fixed {
	composes: row;
	height:100%;
}
