:import('../../css/variables.css') {
  dark_gray: dark_gray;
  dark_blue: dark_blue;
  orange:orange;
}
/*Wrapper*/
.wrapper {
  position:relative;
  size: 15px;
}

/*Input*/
.inputSelect {
  height:36px;

  padding: 8px 24px 8px 16px;
  /*text-align-last:center;*/
  font-size:15px;
  /*width:100%;*/

  appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color:dark_gray;
  background-color: #fff;
  border-radius:0;
  /*padding:5px;*/  
}

.inputSelect::-ms-expand { 
    display: none; /* hide the default arrow in ie10 and ie11 */
}

.inputSelect.empty {
  border-color:dark_gray;
  color:dark_gray;
}

.inputSelect.error {  
  border-color:orange;
  outline-color:orange;
}

/* AFTER */
.after {
  margin-top:1px;
  position:absolute;
  top:50%;
  right:8px;
  transform: translateY(-50%);
}

.iconAfter {
  composes: after;
  color:dark_blue; 
  pointer-events:none;
}