:import('../../css/variables.css') {
	dark_blue:dark_blue;
}


.radioButtonListItem {
	display:inline;
	margin-right: 20px;
}
.radioButtonListItem:last-child {
	margin-right: 0;
}
.radioButtonListItem input[type="radio"] {
	margin-left:5px;
	margin-right:5px;
}
.radioButtonListItem input[type="radio"], .radioButton {
	appearance:none;
	height: 20px;
	width: 20px;
	border-radius:50%;
	outline:none;
	border: 2px solid dark_blue;
	background-color: #fff;	
	
	cursor: pointer;     

}
.radioButtonListItem.small input[type="radio"], .radioButton.small {
	height:15px;
	width:15px;
	border-width:1px;
}

.radioButtonListItem input[type="radio"]:before, .radioButton:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;	
}

.radioButtonListItem input[type="radio"]:checked:before, .radioButton:checked:before {
	background-color:dark_blue;
}
