:import('../../css/variables.css') {
	dark_gray: dark_gray;
	cta_blue_dark:cta_blue_dark;
}

.pickerHolder {
	/*display:table;*/
	width:100%;
	/*height:30px;*/
}
.pickerHolder > div {
	float:left;
	/*line-height:20px;*/
	padding-right: 15px;
	/*height:100%;*/
}
.labelWrapper {
	padding-top:5px;
	padding-bottom:5px;
}

.datePickerWrapper {
	max-width:130px;
}

.timesWrapper {
  min-width:130px;
}

.timezoneWrapper {
  max-width:180px;
  margin-right:0;
}

.clearButtonWrapper {
  max-width:50px;
  margin-right:0;
}

/*:global .react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;
}
:global .react-datepicker__close-icon:after {
	background-color: cta_blue_dark;
  border-radius: auto;
  bottom: auto;
  box-sizing: border-box;
  color: #fff;
  content: "\D7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 50%;
}*/

.gauShow {
	font-weight:bold;
}