:import('../../css/variables.css') {
	black: black;
	yellow: yellow;
	teal: teal;
	dark_gray: dark_gray;
	medium_gray: medium_gray;
	top_navbar_height:top_navbar_height;
}

.tabs {
	height: 48px;
	display:inline-block;
}
.tabs li {
	height:48px;
	padding:0;
	/*margin-right:8px;*/
	display:inline-block;
	text-align:center;
}
.tabs h3, .tabs h4 {
	display:inline;
	margin-bottom: .2em;
	/*needed for height of tabs to always add up to 48px*/
	line-height:20px;
}
.tabs h3 button, .tabs h4 button, .tabs h3 a, .tabs h4 a {
	line-height: 20px;
}
.tabs a, .tabs button {
	cursor: pointer;
	padding: 0 16px 24px 16px;
	color: black;
	border-bottom:solid 4px transparent;
}
.tabs button {
	margin-bottom:0;
}
.tabs.small h3 {
	font-size:15px;
}
.tabs.small a, .tabs.small button {
	padding-left:12px;
	padding-right:12px;
}
@media (max-width: 1000px) {
	.tabs h3 {
		font-size:15px;
	}
	.tabs a, .tabs button {
		padding-left:12px;
		padding-right:12px;
	}
}
@media (max-width: 600px) {
	.tabs li, .tabs.small li { 
		margin:0 -6px;
	}
	.tabs li:first-child, .tabs.small li:first-child { 
		margin-left:0;
	}
	.tabs li:last-child, .tabs.small li:last-child { 
		margin-right:0;
	}	
}


:global .navActive, :global .navActive h3, :global .navActive h4 {
	font-weight: 700;
}
:global .large .navActive {
	color:black;
	border-bottom:solid 4px yellow;
}
:global .small .navActive {
	color:black;
	/* border-bottom:solid 4px teal; */
	border-bottom:solid 4px yellow;
}


.tabs > li.divider:before {
	background-color: medium_gray;
	width: 1px;
	height:30px;
	content: '';
  display: inline-block;

  position:relative;
 
  margin-left:4px;
  margin-right:12px;
  vertical-align: middle;  
}
@media (max-width:1000px) {
	.tabs > li.divider:before {
		margin-right:4px;
	}
}
