:import('../../css/variables.css') {
	black: black;
	blue: blue;
	orange:orange;
	teal:teal;
}
.instructorContent {
	padding:40px 60px;
	word-break:break-all;
/*	position:absolute;
	top:118px;
	bottom:0;
	left:0;
	right:0;
	overflow-y:auto;*/
}

.title {
	color: black;
}

.textContent {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 18px;
}

.mc_choice_outer {
  position: relative;
	min-height:50px;
	padding:15px 0;
}
button.mc_choice, a.mc_choice {
	width:100%;
  position: relative;
  cursor: pointer;
  display: block;
  clear: both;
}
button.mc_choice[disabled] {
	cursor:auto;
}
.mc_choice_marker {
	margin-right: 15px;
  float: left;
  display: inline-block;
  border: 1px solid black;
  border-radius: 17px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
}
.selected .mc_choice_marker {
	color:#fff;
	background-color: black;
}
.correct .mc_choice_marker {
	color: #fff;
	background-color: teal;
  border: 1px solid teal;

}
.incorrect .mc_choice_marker {
	color:#fff;
	background-color: orange;
  border: 1px solid orange;

}

.mc_choice_text {
  margin-top: 5px;
  text-align:left;
}
.correct .mc_choice_text {
	color: blue;
}
.incorrect .mc_choice_text {
	color: orange;
}
.feedbackLabel {
	position:absolute;
	font-weight:bold;
	left:50px;
	top:0px;
}

.submitAnswer {
	text-align:right;
	clear:both;
}
.submitAnswer p {
	font-weight:bold;
	color: blue;
}
.answers_holder {
    margin-bottom: 20px;
}

.submittedResponse .submitAnswer button {
	color: blue;
	text-align:right;
	padding-right:0;
}
