:import('../../css/variables.css') {
	dark_gray: dark_gray;
	blue: blue;
}
.prosperoLink {
	font-weight:600;
	margin-right:9px;
	/*color:blue;*/
}
.prosperoLink input {
	/*border:1px solid red;*/
	border:0;
	color:blue;
	font-size:15px;
	font-weight:600;
	cursor:pointer;


}
.copyLinkButton {
	vertical-align: baseline;
}