:import('../../css/variables.css') {
	header_height: header_height;
	top_navbar_height:top_navbar_height;
	footer_height: footer_height;

	light_gray: light_gray;
}


.center {
	position:absolute;
	/* overflow:scroll; */
	width:100%;
	background-color:light_gray;
}

.editing {
	top:top_navbar_height;
	bottom:footer_height;
}

.reviewing {
	top:calc(top_navbar_height + 24px);
}

.push {
	height:calc(footer_height + 25px);
}
