.instructor_content {
  background-color: #2173BA;
  padding: 15px 10px;
  line-height: 0;
  white-space: nowrap;
}
.instructor_content_header_text {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 2px 0 0 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    height: 32px;
    line-height: 1em;
    vertical-align: top;
    letter-spacing: 1px;
}
.instructor_content_header_subtext {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    padding-top: .3em;
}