:import('../../css/variables.css') {
	cta_blue_dark: cta_blue_dark;
	light_gray: light_gray;
	gray: gray;
	dark_gray: dark_gray;
	blue: blue;
	dark_blue: dark_blue;
	yellow: yellow;
	darker_yellow: darker_yellow;
	black: black;
	darkest_blue: darkest_blue;
	shadowZ1: shadowZ1;
}

a .btn, .btn {
	/*border-radius:5px;*/

	/*display:table-cell;*/
	display:inline-block;
	vertical-align: middle;
	text-decoration: none;
	/*margin-left:10px;*/
	margin:6px 8px;
	cursor:pointer;

	font-family: 'Source Sans Pro';
	font-size:15px;
  font-weight: 600;
}
a.btn.primary, a.btn.secondary {
	display:inline;
	padding-top:8.5px;
	padding-bottom:8.5px;
}
a .btn h4, .btn h4, .btn h2 {
	display:inline;
}
.btn:last-child {
	margin-right:0;
}
.btn:first-child {
	margin-left:0;
}

.tabButton {
	composes: btn;
	color: #909090;
	background-color: transparent;;
	padding: 0px;
	margin-left:0px;
	margin-right:0px;
	/*font-weight:bold;*/
	border: none;
}
.tabButtonActive {
	color: #000;
	padding-bottom:6px;
	border-bottom: 5px solid black;
	font-weight:700;
}
.tabButtonQuestion {
	composes: btn;
	color: #909090;
	background-color: transparent;;
	padding: 0px;
	margin-left:0px;
	margin-right:0px;
	/*font-weight:bold;*/
	border: none;
}
.tabButtonQuestionActive {
	color: #000;
	padding-bottom:6px;
	border-bottom: 5px solid #00c2cc;
	font-weight:700;
}

.nav {
	composes: tabButton;
	/*padding:10px 10px 15px 10px;*/
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.navActive {
	/*composes: nav;*/
	color: #000;
	/*font-weight: bold;*/
	padding-bottom:13px;
	border-bottom: 5px solid #ffb624;
	font-weight:700;
}

.round_corners {
	composes: btn;
	height:36px;
	border:none;
	border-radius: 2px;
	padding:8px 16px;
}
/*a.round_corners {
	padding-top:10px;
	padding-bottom:10px;
}
*/

.yellow {
	composes: round_corners;
	background-color:yellow;
}
.primary {
	composes: round_corners;
	/*font-weight:bold;*/

	color: black;
	background-color: yellow;
}
.primary:hover {
	color: black;
	background-color: darker_yellow;
}
.primary.disabled {
	background-color:gray;
}


.blue, .secondary {
	composes: round_corners;
	color: #fff;
	background-color: blue;
	/*box-shadow: shadowZ1;*/

}
.blue:hover, .secondary:hover {
	color: white;
	background-color: dark_blue;
}
.blue.disabled, .secondary.disabled {
	/*opacity:.5;*/
	color: black;
	background-color: gray;	
}
.inactive, .gray {
	composes: secondary;
	color: black;
	background-color: gray;
}


.blueRoundedCorners {
	composes: round_corners;
	color: #fff;
	background-color: blue;
	border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;
}

.tertiary {
	composes: round_corners;
	color: blue;
	background-color: transparent;;
	padding: 8px 15px;
	margin-left:0px;
	margin-right:0px;
	/*font-weight:bold;*/
}
.tertiary:hover{
	color: darkest_blue;
}
.tertiary.disabled {
	color: dark_gray;
}
.inline {
	margin: 0 8px;
	padding: 0 16px;
	vertical-align:baseline;
	height:auto;
}
.oval {
	composes: btn;
	background-color: blue;
	color:#fff;
	border-radius: 24px;
	width:150px;
	height: 35px;
}
.oval > div:first-child {
	margin-right:5px;
}
/*.transparent:last-child {
	margin-right:5px;
}*/

.disabled {
	cursor: default;
}

.studentViewAssignment {
	padding-top:17px;
	padding-bottom:17px;
	padding-left:24px;
	padding-right:24px;

  font-size: 20px;
  font-weight: 500;
  height:56px;
}
.student {
	/*padding-top:12px;*/
	height:48px;
}
