:import('../../css/variables.css') {
	header_height:header_height;
	footer_height:footer_height;
}

.layoutAppBody {
	z-index:10;
	position:absolute;
	width:100%;
	bottom:0;
	top: header_height;
	overflow-x:hidden;
	overflow-y:auto;
}
.layoutAppBody.footer {
	bottom:footer_height;
}