:import('../../css/variables.css') {
  dark_gray: dark_gray;
  nerd_gray: nerd_gray;
  light_gray: light_gray;
  medium_gray: medium_gray;
  dark_blue: dark_blue;
}

/*Wrapper*/
.wrapper {
  position:relative;
  font-size:15px;
  display:inline-block;
}
.wrapper.large {
  font-size:20px;
}

.wrapper.search {
  position:relative;
  font-size:15px;
}

/*Input*/

.inputText {
  /*padding: 8px 24px 8px 16px;*/
  font-size:15px;
  height:36px;
  border-width: 1px;
  border-style: solid;
  border-color: dark_gray;
}

.NERd .inputText {
  height:32px;
  padding-left:10px;
  padding-right:55px;
  font-size:11px;
  border-color:medium_gray;
}
.NERd .inputText.empty {
  border-color:medium_gray;
}
.NERd .inputText::-webkit-input-placeholder {
  color:medium_gray;
  font-style:italic;
}

.search > .inputText {
  padding-top:8px;
  padding-bottom:8px;
  padding-left:16px;
  padding-right:16px;
}

.inputText.fullWidth {
  width: 100%;
}

.inputText.large {
  font-size:20px;
  height:56px;
}

.inputText.open {
/*  padding-left:0;
  padding-bottom:0;*/
  height:40px;
  padding: 8px 0px;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.inputText.empty {
  border-color: dark_gray;
}

.inputText.charAfter {
  text-align:right;
  padding-right:18px;
}

.gauInputTextbox {
  padding: 8px 24px 8px 16px;
}

/* AFTER */
.after {

  position:absolute;
  top:50%;
  right:8px;
  transform: translateY(-50%);
}
.search .after {
  right:16px;
}

.iconOuter {
  composes: after;
  color:dark_blue;  
}
.search .iconOuter {
  color:dark_gray;  
}

.NERd.search input:focus {
  outline:none;
}
.NERd .iconOuter {
  color: nerd_gray;
}
.NERd.search .iconOuter {
  right:34px;
}

.NERd.search .searchSubmit {
  cursor: pointer;
  position:absolute;
  height:32px;
  background-color: medium_gray;
  right:8px;
}