:export {
  cta_blue: #03b7f7;
  cta_blue_dark: #2584F0;

  black: #232323;
  darker_gray: #757575;
  dark_gray: #757575;
  nerd_gray: #909090;
  gray: #e1e1e1;
  medium_gray: #e1e1e1;
  light_gray: #f5f5f5;
  white: #ffffff;

  teal: #00c2cc;
  blue: #2173ba;
  blue_color: #2173ba;
  
  dark_blue: #005299;
  darkest_blue: #0e3c64;

  orange: #e03400;
  yellow: #ffb624;
  darker_yellow: #ffa000;

  green: #3E9131;

  header_height: 56px;
  top_navbar_height: 50px;
  footer_height: 53px;

  NERdTabMenuWidth: 50px;
  NERdTabMenuButtonWidth: 30px;
  NERdSidePanelWidth: 320px;

  shadowZ1: 0px 1px 3px 0px rgba(0, 0, 0, .12), 0px 1px 2px 0px rgba(0, 0, 0, .24);
  shadowZ2: 0px 2px 4px 0px rgba(0, 0, 0, .14), 0px 2px 4px 0px rgba(0, 0, 0, .24);
  shadowZ3: 0px 3px 6px 0px rgba(0, 0, 0, .16), 0px 3px 6px 0px rgba(0, 0, 0, .23);
  
  header_height: 56px;
  top_navbar_height: 72px;
  footer_height: 72px;
}