:import('../../css/variables.css') {
	medium_gray: medium_gray;
	dark_gray: dark_gray;
}

.listHeader {
	/*composes: clearfix from '../../css/global.css';*/
	width:100%;
	padding-left:10px;
	padding-right:10px;

	padding-top:10px;
	padding-bottom:10px;

	height:40px;
}

.title {
	margin-right:40px;
}
.listHeader.overview, .listHeader.editoverview {
	padding-left:30px;
	padding-right:40px;
}

.leftGroup > *, .rightGroup > * {
	display:inline-block;
}

.leftGroup {
	/*display: inline-block;*/
	float:left;
}

.rightGroup {
	/*display:inline-block;*/
	float: right;
	/*color:dark_gray;*/
}
/*
.gradeWeight {
	font-weight:300;
}
*/
.listHeader.overviewstudent {
	background-color: #e1e1e1;
	border-top: 1px #757575 solid;
	border-bottom: 1px #757575 solid;

	font-weight:bold;
}
.listHeader.overviewstudent .title {
	margin-left:60px;
}
