:import('../../css/variables.css') {
	dark_gray:dark_gray;
	black: black;
}
.iconSort {
	display:inline;
	width:20px;
	height:20px;
	padding:0 5px;
}

.iconSort > button, .iconSort > div {
	position:relative;
	top:-3px;
	display:inline-block;
	width: 12px;
	height: 12px;
}

.black {
	color: black;
}
.gray {
	color: dark_gray;
}