:import('../../css/variables.css') {
	dark_gray: dark_gray;
}

.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.modalContent {
	position: absolute;
	overflow: auto;
	WebkitOverflowScrolling: touch;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background-color:#fff;
  /*padding:15px 10px;*/
}

.modalContent > div {
	width: 100%;
	/*margin-bottom: 10px;*/
}

.modalContent > div:last-child {
	margin-bottom:0;
}

.header {
	width:100%;
	padding: 10px 10px 10px 20px;
}
.header .title {
	float:left;
}
.header .closeButton {
	float: right;
	border:0;
	padding:0;
	background-color:transparent;
}
.buttons {
	padding: 10px;
}
.buttons>div:first-child {
	float:left;
}
.buttons>div:last-child {
	float: right;
}
.instructor_content {
  background-color: #74B36D;
  padding: 15px 10px;
  line-height: 0;
  white-space: nowrap;
}
.instructor_content_header_text {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 2px 0 0 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    height: 32px;
    line-height: 1em;
    vertical-align: top;
    letter-spacing: 1px;
}
.instructor_content_header_subtext {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}
