@font-face {
  font-family: 'ncia-icons';
  src:  url('fonts/ncia-icons.eot?432ufv');
  src:  url('fonts/ncia-icons.eot?432ufv#iefix') format('embedded-opentype'),
    url('fonts/ncia-icons.ttf?432ufv') format('truetype'),
    url('fonts/ncia-icons.woff?432ufv') format('woff'),
    url('fonts/ncia-icons.svg?432ufv#ncia-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ncia-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gripper-dots:before {
  content: "\e90b";
}
.icon-cloud-caution:before {
  content: "\e909";
}
.icon-ribbon:before {
  content: "\e908";
}
.icon-ebook:before {
  content: "\e907";
}
.icon-prospero-owl:before {
  content: "\e906";
}
.icon-cogwheels:before {
  content: "\e905";
}
.icon-ilg:before {
  content: "\e900";
}
.icon-zaps:before {
  content: "\e901";
}
.icon-quizmo:before {
  content: "\e902";
}
.icon-video-play:before {
  content: "\e903";
}
.icon-noqe:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-fullscreen:before {
  content: "\e608";
}
.icon-volume-off:before {
  content: "\e611";
}
.icon-volume-on:before {
  content: "\e612";
}
.icon-arrowleft:before {
  content: "\e800";
}
.icon-arrowright:before {
  content: "\e801";
}
.icon-availableoffline:before {
  content: "\e802";
}
.icon-exit:before {
  content: "\e803";
}
.icon-more:before {
  content: "\e804";
}
.icon-menu:before {
  content: "\e805";
}
.icon-password:before {
  content: "\e806";
}
.icon-circle-info:before {
  content: "\e807";
}
.icon-cloud-download:before {
  content: "\e808";
}
.icon-search:before {
  content: "\e809";
}
.icon-remove-sign:before {
  content: "\e80a";
}
.icon-close:before {
  content: "\e80b";
}
.icon-book:before {
  content: "\e80c";
}
.icon-book-open:before {
  content: "\e80d";
}
.icon-bookmark:before {
  content: "\e80e";
}
.icon-check:before {
  content: "\e80f";
}
.icon-question-sign:before {
  content: "\e810";
}
.icon-print:before {
  content: "\e811";
}
.icon-pencil:before {
  content: "\e812";
}
.icon-seagull:before {
  content: "\e813";
}
.icon-unchecked:before {
  content: "\e814";
}
.icon-user:before {
  content: "\e815";
}
.icon-usergroup:before {
  content: "\e816";
}
.icon-education:before {
  content: "\e817";
}
.icon-ear:before {
  content: "\e818";
}
.icon-chevron-down:before {
  content: "\e819";
}
.icon-chevron-up:before {
  content: "\e81a";
}
.icon-cogwheel:before {
  content: "\e81b";
}
.icon-arrowleft-dlp:before {
  content: "\e81c";
}
.icon-video:before {
  content: "\e81d";
}
.icon-audio:before {
  content: "\e81e";
}
.icon-ilg2:before {
  content: "\e81f";
}
.icon-chevron-left:before {
  content: "\e820";
}
.icon-chevron-right:before {
  content: "\e821";
}
.icon-reading_assignments:before {
  content: "\e822";
}
.icon-up-dir:before {
  content: "\e823";
}
.icon-down-dir:before {
  content: "\e824";
}
.icon-check-no-box:before {
  content: "\e825";
}
.icon-pause:before {
  content: "\e826";
}
.icon-stop:before {
  content: "\e827";
}
.icon-circle:before {
  content: "\f111";
}
