:import('../../css/variables.css') {
	dark_blue:dark_blue;
}

.checkbox input {
	height:15px;
	width:15px;
	vertical-align: middle;
	margin: 0 8px 0 0;
	border: 1px solid dark_blue;
	background-color: #fff;

	-webkit-appearance: none;
	-webkit-transition: box-shadow 200ms;	
}
.checkbox input:checked {
	border-color:dark_blue;
	background-color:dark_blue;
}
.checkbox input:checked:before {
	content: '';
	display: block;
	width: 4px;
	height: 8px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left: 4px;
	margin-top: 1px;	
}
.checkbox.large {
	width:20px;
	height:20px;
	font-size:20px;
}