/* ========= NCIA VARIABLES ======================== */
	// Font sizes
	  $icon_font_size: 20px;
	// Padding
	  $icon_padding: 5px;
		$default_padding: 10px;
	// Dimensions
		$top_banner_height: 55px;
		
	// Colors
		$top_banner_color: #37352B; /* :#EDEBDA */

	// Breakpoints
		$mobile_portrait_width: 450px;
		$tablet_max_width: 768px;
		$desktop_max_width: 1366px;
		
/* ========= CTA VARIABLES ======================== */
	// Font Sizes
	// Padding

	// Dimensions
		$tabs_navigation_height: 50px;
		$tabs_navigation_scrollbar_height: 5px;


	// Colors
		$body_font_color: #232323;
		$default_dk_gray:#909090;
		$default_lt_gray:#E1E1E1;
		$cta_darkest: #000;

		$cta_tabs_bg: #fff;
		$cta_cell_bg: #f2f2f2;
		$cta_light_rule: #e6e6e6;
		$cta_dark_rule: #c2c2c2;
		$cta_inactive_tabs: #8c8c8c;
		$cta_highlight:#2173ba;
	
	// mixins
		@mixin media($queryString){
			@media #{$queryString} {
				@content;
			}
		}
		/// Mixin to prefix several properties at once
		/// @author Hugo Giraudel
		/// @param {Map} $declarations - Declarations to prefix
		/// @param {List} $prefixes (()) - List of prefixes to print
		@mixin prefix($declarations, $prefixes: webkit moz ms o) {
		  @each $property, $value in $declarations {
		    @each $prefix in $prefixes {
		      #{'-' + $prefix + '-' + $property}: $value;
		    }
		    // Output standard non-prefixed declaration
		    #{$property}: $value;
		  }
		}

		@mixin prefix_value($declarations, $prefixes: webkit moz ms o) {
		  @each $property, $value in $declarations {
		    @each $prefix in $prefixes {
		      #{$property}: '-'+$prefix+'-'+$value; //{'-' + $prefix + '-' + $property}
		    }
		    // Output standard non-prefixed declaration
		    #{$property}: $value;
		  }
		}


$audio_player_height: 80px;
$time_text_width: 45px;

.jw-skin-norton {
	.jw-hidden {
		display: none !important;
	}
	.jw-rightclick {
		a {
			color:#fff;
		}
		.jw-featured a {
			color:#777;
		}
	}
	color: $cta_highlight;
	// .jw-icon-inline, .jw-icon-tooltip, .jw-slider-horizontal, .jw-text-elapsed, .jw-text-duration {
	// 	height: 1em !important;
	// 	line-height: 1em !important;
	// }
	.jw-icon {
		min-width:auto !important;
	}

	.jw-controls {
		.jw-display-icon-container {
			// display: none;
			background-color:transparent !important;
			.jw-icon-display {
				background-color:transparent;
				&:before {
					color: $cta_highlight;
					font-size: 40px;					
				}
			}
		}
		.jw-controls-right {
			.jw-dock {
				display:none;
			}
			.jw-logo {
				max-width:75px;
				opacity:.5;
				left:0;
				right:auto;
			}
		}
		.jw-controlbar {
			padding: 5px 0;
			height: 15px; // height:100%;
			width:100%;
			background-color: transparent; //#fff

			// duration and elapsed text
			.jw-text {
				height:1em;
				line-height: 1em;
				font-size:12px;
				display:inline-block;
		    overflow: hidden;
		    bottom:6px;						
		    width: $time_text_width;				
			}
			@media (min-width: $mobile_portrait_width + 1) {
				padding:0 0;
				height:55px;
				.jw-text {
					bottom:10px;
				}
			}
			&>.jw-group {
				height:100%;
				position:relative;
				vertical-align: middle;
				.jw-icon {
					// height:100%;
					vertical-align:middle;
					&:before {
				    padding: 0;
				    background-color: transparent;
				    color: #e6e6e6;
						font-size:18px;			    	
						@media (min-width: $mobile_portrait_width + 1) {
							font-size:20px;
						}
					}

					&.jw-icon-playback:before {
						color: $cta_highlight;
						background-color:$cta_light_rule;
						padding:5px;
						border-radius:25px;
						@media (min-width: $mobile_portrait_width + 1) {
							padding:12px;
						}					
					}
				}

			}


			.jw-controlbar-left-group {
				padding-left:10px;
				.jw-icon {
					margin-right:10px;
					@media(min-width: $mobile_portrait_width + 1) {
						margin-right: 15px;
					}					
				}
				.jw-text-elapsed {
			    margin-right: $time_text_width * -1;
			    text-align: left;
					color:$cta_highlight;
				}
				@media (min-width: $mobile_portrait_width + 1) {			
					padding-left: 15px;
					// padding-top: 20px;
					.jw-text-elapsed {
						font-size:14px;
					}
				}
			}
			.jw-controlbar-right-group {
				padding-right:10px;			
				.jw-text-duration {				
			    margin-left: $time_text_width * -1;
			    text-align: right;
					color:$cta_light_rule;
				}
				.jw-icon {
					// margin-top:3px;
					margin-left:12px;

					@media(min-width: $mobile_portrait_width + 1) {
						// min-width:30px;
						margin-left: 15px;
					}

					&.jw-icon-cc {
						background-color:$cta_highlight;
						display:inline-block;
						height:15px;
						width:25px;
						min-width:25px;
						vertical-align:middle;
						// top:50%;
				    // @include prefix ((
					    // transform: translateY(-50%)
				    // ));
				    &.jw-off {
				    	background-color:transparent;
				    }
				    &:before {
							display:block;
							position:relative;
							line-height:.8;
					    // @include prefix ((
						   //  transform: translateY(-50%)
					    // ));
					    // margin-top:-5px;
					    margin-left: -2px;
				    }
				    @media (max-width:$mobile_portrait_width) {
							height:13px;
							width:20px;
							min-width: 20px;

							//change later:
							// margin-left:12px;
					    // @include prefix ((
						   //  transform: translateY(12px)
					    // ));
					    // &:before {
						   //  @include prefix ((
							  //   transform: translateY(-12px)
						   //  ));
					    // }					    							
				    }							
					}										
				}	
				@media (min-width:$mobile_portrait_width + 1) {
					// padding-top: 20px;
					padding-right:15px;
					.jw-text-duration {
						font-size:14px;
					}
				}
	
			}
			.jw-controlbar-center-group {
				.jw-slider-time {
					position:absolute;
					height: 5px;
					bottom: 10px;
					border-radius:2px;
					@media (min-width: $mobile_portrait_width + 1) {
						bottom:25px;
					}
					div {
						border-radius:2px;
					}
					.jw-slider-container {
						position:absolute;
						top:0;
						height:100%;
						background-color:#000;
						.jw-rail {
							height:5px;
							background-color:$cta_dark_rule;
						}
						.jw-buffer {
							height:5px;							
							background-color:$cta_light_rule;
						}
						.jw-progress {
							height:5px;							
							background-color:$cta_highlight;
						}
						.jw-knob {
							display:none;
						}
						.jw-icon-tooltip {
							display:none;
						}	
					}
				}
			}

		}
		.jw-slider-volume {
	    padding: 0;
	    border-radius: 5px;
	    .jw-slider-container {
	    	border-radius:5px;
	    	.jw-rail {
	    		border-radius:5px;
	    	}
	    	.jw-buffer {
	    		background-color:$cta_light_rule;

	    		border-radius:5px;
	    	}
	    	.jw-progress {
	    		background-color:$cta_light_rule;
	    		border-radius:5px;
	    	}
	    	.jw-knob {
	    		left:-2px;
			    width: 16px;
			    height: 16px;
			    border-radius: 16px;
			    background: radial-gradient(ellipse at center,#f3f3f3 0,#d2d2d2 90%,#b0b0b0 100%);
			    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.75);
	    	}
	    }
			@media (max-width:$mobile_portrait_width) {
				border:0;
				.jw-slider-container {
					width:7px;
					.jw-rail {
						width:7px;
					}
					.jw-buffer {
						width:7px;
					}
					.jw-progress {
						width:7px;
					}
					.jw-knob {
						width:12px;
						height:12px;
					}
				}
			}	    
		}
		.jw-icon-fullscreen {
			font-family: "ncia_icons", "jw-icons"
		}
		.jw-icon-volume {
			font-family: "ncia_icons", "jw-icons"
		}
	}	
	&.jw-flag-media-audio {
		background-color:#fff;
		height:$audio_player_height;
		// border: solid 1px $cta_highlight;
		border-radius:2px;

		.jw-aspect {
			display:none;
		}
		.jw-media {
			display:none;
		}
		.jw-preview {
			display: none;
		}
		.jw-captions {
			display: none !important;
		}
		.jw-title {
			display: none;
		}
		.jw-overlays {
			display: none;
		}
		.jw-controls {
			.jw-display-icon-container {
				display: none !important;
			}
			.jw-controls-right {
				display: none !important;
			}
			.jw-controlbar {
				// background-color: #fff;
				height: 44px; // height:100%;
				@media (min-width: $mobile_portrait_width + 1) {
					height:80px;
				}
				.jw-controlbar-right-group {
					.jw-icon {
						&:first-of-type {
							display: inline-block !important;
							&:before {
								visibility: hidden;
								font-size:0px;
							}
						}
					}
				}				
			}
			.jw-icon-volume {
				display:none !important;
			}
			.jw-icon-fullscreen {
				display: none !important;
			}
			.jw-icon-cc {
				display:none !important;
			}			
		}

		// &.jw-state-playing {
		// 	.jw-icon-playback {
		// 		&:before {
		// 			background-color:$cta_light_rule !important;
		// 		}
		// 	}
		// }		
	}
}
