/* ========= NCIA VARIABLES ======================== */
/* :#EDEBDA */
/* ========= CTA VARIABLES ======================== */
.jw-skin-norton {
  color: #2173ba; }
  .jw-skin-norton .jw-hidden {
    display: none !important; }
  .jw-skin-norton .jw-rightclick a {
    color: #fff; }
  .jw-skin-norton .jw-rightclick .jw-featured a {
    color: #777; }
  .jw-skin-norton .jw-icon {
    min-width: auto !important; }
  .jw-skin-norton .jw-controls .jw-display-icon-container {
    background-color: transparent !important; }
    .jw-skin-norton .jw-controls .jw-display-icon-container .jw-icon-display {
      background-color: transparent; }
      .jw-skin-norton .jw-controls .jw-display-icon-container .jw-icon-display:before {
        color: #2173ba;
        font-size: 40px; }
  .jw-skin-norton .jw-controls .jw-controls-right .jw-dock {
    display: none; }
  .jw-skin-norton .jw-controls .jw-controls-right .jw-logo {
    max-width: 75px;
    opacity: .5;
    left: 0;
    right: auto; }
  .jw-skin-norton .jw-controls .jw-controlbar {
    padding: 5px 0;
    height: 15px;
    width: 100%;
    background-color: transparent; }
    .jw-skin-norton .jw-controls .jw-controlbar .jw-text {
      height: 1em;
      line-height: 1em;
      font-size: 12px;
      display: inline-block;
      overflow: hidden;
      bottom: 6px;
      width: 45px; }
    @media (min-width: 451px) {
      .jw-skin-norton .jw-controls .jw-controlbar {
        padding: 0 0;
        height: 55px; }
        .jw-skin-norton .jw-controls .jw-controlbar .jw-text {
          bottom: 10px; } }
    .jw-skin-norton .jw-controls .jw-controlbar > .jw-group {
      height: 100%;
      position: relative;
      vertical-align: middle; }
      .jw-skin-norton .jw-controls .jw-controlbar > .jw-group .jw-icon {
        vertical-align: middle; }
        .jw-skin-norton .jw-controls .jw-controlbar > .jw-group .jw-icon:before {
          padding: 0;
          background-color: transparent;
          color: #e6e6e6;
          font-size: 18px; }
          @media (min-width: 451px) {
            .jw-skin-norton .jw-controls .jw-controlbar > .jw-group .jw-icon:before {
              font-size: 20px; } }
        .jw-skin-norton .jw-controls .jw-controlbar > .jw-group .jw-icon.jw-icon-playback:before {
          color: #2173ba;
          background-color: #e6e6e6;
          padding: 5px;
          border-radius: 25px; }
          @media (min-width: 451px) {
            .jw-skin-norton .jw-controls .jw-controlbar > .jw-group .jw-icon.jw-icon-playback:before {
              padding: 12px; } }
    .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-left-group {
      padding-left: 10px; }
      .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-left-group .jw-icon {
        margin-right: 10px; }
        @media (min-width: 451px) {
          .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-left-group .jw-icon {
            margin-right: 15px; } }
      .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-left-group .jw-text-elapsed {
        margin-right: -45px;
        text-align: left;
        color: #2173ba; }
      @media (min-width: 451px) {
        .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-left-group {
          padding-left: 15px; }
          .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-left-group .jw-text-elapsed {
            font-size: 14px; } }
    .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-right-group {
      padding-right: 10px; }
      .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-right-group .jw-text-duration {
        margin-left: -45px;
        text-align: right;
        color: #e6e6e6; }
      .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-right-group .jw-icon {
        margin-left: 12px; }
        @media (min-width: 451px) {
          .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-right-group .jw-icon {
            margin-left: 15px; } }
        .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-right-group .jw-icon.jw-icon-cc {
          background-color: #2173ba;
          display: inline-block;
          height: 15px;
          width: 25px;
          min-width: 25px;
          vertical-align: middle; }
          .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-right-group .jw-icon.jw-icon-cc.jw-off {
            background-color: transparent; }
          .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-right-group .jw-icon.jw-icon-cc:before {
            display: block;
            position: relative;
            line-height: .8;
            margin-left: -2px; }
          @media (max-width: 450px) {
            .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-right-group .jw-icon.jw-icon-cc {
              height: 13px;
              width: 20px;
              min-width: 20px; } }
      @media (min-width: 451px) {
        .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-right-group {
          padding-right: 15px; }
          .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-right-group .jw-text-duration {
            font-size: 14px; } }
    .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-center-group .jw-slider-time {
      position: absolute;
      height: 5px;
      bottom: 10px;
      border-radius: 2px; }
      @media (min-width: 451px) {
        .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-center-group .jw-slider-time {
          bottom: 25px; } }
      .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-center-group .jw-slider-time div {
        border-radius: 2px; }
      .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-center-group .jw-slider-time .jw-slider-container {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: #000; }
        .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-center-group .jw-slider-time .jw-slider-container .jw-rail {
          height: 5px;
          background-color: #c2c2c2; }
        .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-center-group .jw-slider-time .jw-slider-container .jw-buffer {
          height: 5px;
          background-color: #e6e6e6; }
        .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-center-group .jw-slider-time .jw-slider-container .jw-progress {
          height: 5px;
          background-color: #2173ba; }
        .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-center-group .jw-slider-time .jw-slider-container .jw-knob {
          display: none; }
        .jw-skin-norton .jw-controls .jw-controlbar .jw-controlbar-center-group .jw-slider-time .jw-slider-container .jw-icon-tooltip {
          display: none; }
  .jw-skin-norton .jw-controls .jw-slider-volume {
    padding: 0;
    border-radius: 5px; }
    .jw-skin-norton .jw-controls .jw-slider-volume .jw-slider-container {
      border-radius: 5px; }
      .jw-skin-norton .jw-controls .jw-slider-volume .jw-slider-container .jw-rail {
        border-radius: 5px; }
      .jw-skin-norton .jw-controls .jw-slider-volume .jw-slider-container .jw-buffer {
        background-color: #e6e6e6;
        border-radius: 5px; }
      .jw-skin-norton .jw-controls .jw-slider-volume .jw-slider-container .jw-progress {
        background-color: #e6e6e6;
        border-radius: 5px; }
      .jw-skin-norton .jw-controls .jw-slider-volume .jw-slider-container .jw-knob {
        left: -2px;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background: radial-gradient(ellipse at center, #f3f3f3 0, #d2d2d2 90%, #b0b0b0 100%);
        box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.75); }
    @media (max-width: 450px) {
      .jw-skin-norton .jw-controls .jw-slider-volume {
        border: 0; }
        .jw-skin-norton .jw-controls .jw-slider-volume .jw-slider-container {
          width: 7px; }
          .jw-skin-norton .jw-controls .jw-slider-volume .jw-slider-container .jw-rail {
            width: 7px; }
          .jw-skin-norton .jw-controls .jw-slider-volume .jw-slider-container .jw-buffer {
            width: 7px; }
          .jw-skin-norton .jw-controls .jw-slider-volume .jw-slider-container .jw-progress {
            width: 7px; }
          .jw-skin-norton .jw-controls .jw-slider-volume .jw-slider-container .jw-knob {
            width: 12px;
            height: 12px; } }
  .jw-skin-norton .jw-controls .jw-icon-fullscreen {
    font-family: "ncia_icons", "jw-icons"; }
  .jw-skin-norton .jw-controls .jw-icon-volume {
    font-family: "ncia_icons", "jw-icons"; }
  .jw-skin-norton.jw-flag-media-audio {
    background-color: #fff;
    height: 80px;
    border-radius: 2px; }
    .jw-skin-norton.jw-flag-media-audio .jw-aspect {
      display: none; }
    .jw-skin-norton.jw-flag-media-audio .jw-media {
      display: none; }
    .jw-skin-norton.jw-flag-media-audio .jw-preview {
      display: none; }
    .jw-skin-norton.jw-flag-media-audio .jw-captions {
      display: none !important; }
    .jw-skin-norton.jw-flag-media-audio .jw-title {
      display: none; }
    .jw-skin-norton.jw-flag-media-audio .jw-overlays {
      display: none; }
    .jw-skin-norton.jw-flag-media-audio .jw-controls .jw-display-icon-container {
      display: none !important; }
    .jw-skin-norton.jw-flag-media-audio .jw-controls .jw-controls-right {
      display: none !important; }
    .jw-skin-norton.jw-flag-media-audio .jw-controls .jw-controlbar {
      height: 44px; }
      @media (min-width: 451px) {
        .jw-skin-norton.jw-flag-media-audio .jw-controls .jw-controlbar {
          height: 80px; } }
      .jw-skin-norton.jw-flag-media-audio .jw-controls .jw-controlbar .jw-controlbar-right-group .jw-icon:first-of-type {
        display: inline-block !important; }
        .jw-skin-norton.jw-flag-media-audio .jw-controls .jw-controlbar .jw-controlbar-right-group .jw-icon:first-of-type:before {
          visibility: hidden;
          font-size: 0px; }
    .jw-skin-norton.jw-flag-media-audio .jw-controls .jw-icon-volume {
      display: none !important; }
    .jw-skin-norton.jw-flag-media-audio .jw-controls .jw-icon-fullscreen {
      display: none !important; }
    .jw-skin-norton.jw-flag-media-audio .jw-controls .jw-icon-cc {
      display: none !important; }

/*# sourceMappingURL=norton-skin.global.css.map */
