:import('../../css/variables.css') {
	blue: blue;
	shadowZ2:shadowZ2;
}

.buttonCircle {
	display:inline-block;
	color:#fff;
	background-color:blue;
	height:36px;
	width:36px;
	border-radius: 20px;
	box-shadow:shadowZ2;
}