:import('../../css/variables.css') {
	light_gray: light_gray;
	gray:gray;
}
.prosperoSidebarHeader {
	display:flex;
	/*display:table-cell;*/
	flex-direction:column;
	justify-content: center;
	background-color:light_gray;
	width:100%;
	height:40px;
	min-height:40px;
	max-height:40px;
	text-align:center;
	padding:0 16px;
	margin-bottom:16px;
}
.prosperoSidebarHeader.nerd {
	background-color:gray;
}
.prosperoSidebarHeader h1, .prosperoSidebarHeader h2, .prosperoSidebarHeader h3, .prosperoSidebarHeader h4, .prosperoSidebarHeader p {
	margin:0;
} 


