:import('../../css/variables.css') {
	light_gray: light_gray;
	medium_gray:medium_gray;
}

.col {
	position:relative;
	margin:auto;
	/*min-height:100%;*/
	background-color:#fff;

	padding:40px 24px;
}

.col-1 {
	composes: col;
	width:80%;
}
/*
to do: change to grid system and use global styles for all this;
*/
.xlarge, .large, .medium {
	composes: col;
	width:80%;
}

.col-1.xsmall, .col-1.small  {
	/*composes: col;*/
	width:100%;
	/*padding: 25px 0px;*/
	top:0px;
}

.col-2 {
	composes: col;
	padding:20px 28px;
	width:50%;
	float:left;
}
/*		.col-2:first-child {
			padding-left:20px;
			padding-right:10px;
		}

		.col-2:last-child {
			padding-left:10px;
			padding-right:20px;
		}*/

.overview {
	top:24px;
	margin-bottom:24px;
}

.assignment {
	background-color: light_gray;
}

/*========COLUMN ATTRIBUTES==========*/
.scrolling {
	height:100%;
	overflow-y: scroll;
}

.borders {
	/*border-left: 1px solid medium_gray;
	border-right: 1px solid medium_gray;	*/
	border: 1px solid medium_gray;
}