:import('../../css/variables.css') {
  dark_gray: dark_gray;
  medium_gray: medium_gray;
}
.inputTimeBox {
	display:inline-block;
	position:relative;
}
.colon {
	color:dark_gray;
	position:absolute;
	top:10px;
}
.colon:first-of-type {
	left:44px;
}
.colon:last-of-type {
	right:45px;
}
.inputTimeBox input {
	font-size:15px;
	height:36px;
	border:1px solid dark_gray;
	outline-offset: -5px;
	width:44px;
	position:relative;
}

.inputTimeBox input[type=number]::-webkit-inner-spin-button, 
.inputTimeBox input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.inputTimeBox > .hours {
	width:48px;
	border-right:0;
	padding:8px 8px 8px 16px;
}
.inputTimeBox > .minutes {
	border-left:0;
	border-right:0;
	padding:8px 8px 8px 8px;
}
.inputTimeBox > .seconds {
	border-left:0;
	padding:8px 16px 8px 8px;
}

