:import(../../css/variables.css) {
	cta_blue_dark: cta_blue_dark;
	light_gray: light_gray;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.content {
  background: #FFF;
  color: #000;
  display: inline;
  font-size: .8em;
  padding: .3em 1em;
  /*whiteSpace: nowrap;*/
}
/*
.tooltip {
  position: absolute;
  z-index: 99;
  width: 100%;
  min-width: 200px;
  max-width: 420px;
  background: #FFF;
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #e65100;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:after, .tooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #FFF;
	border-width: 5px;
	margin-left: -5px;
}

.tooltip:before {
	border-color: rgba(230, 81, 0, 0);
	border-top-color: #e65100;
	border-width: 7px;
	margin-left: -7px;
}
*/